html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

#logo {
  text-align: center;
  margin-bottom: -150px;
  opacity: 0.3;
}

#search {
  margin-top: 95px;
}

#map-canvas {
  z-index: 1;
  height:100%;
}

#sidebar {
  width: 300px;
  height: 295px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255,255,255,0.7);
}

#track_art {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  width: 200px;
  height: 200px;
  z-index: 100;
}

#track_art img {
  width: 200px;
  height: 200px;
  border: 0;
  display: none;
}

#track_title, #track_artist {
  display: none;
  width: 100%;
  text-align: right;
  background: rgba(255,255,255,0.7);
  z-index: 100;
  padding: 10px;
}

#track_title {
  position: absolute;
  right: 230px;
  bottom: 60px;
}

#track_artist {
  position: absolute;
  right: 230px;
  bottom: 20px;
}

#controls {
  padding: 10px;
  width: 280px;
}

div.form {
  margin-bottom: 5px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: small;
  padding: 5px;
  width: 280px;
}

#legend ul {
  margin: 5px 0 0 5px;
  padding: 0;
  list-style-type: none;
}

#legend ul li {
  line-height: 2.5em;
}

#legend li img {
  vertical-align: middle;
}
